footer {
    width: 1vw;
    height: 10px; 
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    position: absolute; /* Garante que o footer fique fixado no fim da página */
    bottom: 0;
    background-color: #2EADC3;
    padding: 0px;
}

.content-footer {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center;
    
}

#txt-footer {
    font-size: 1vh;
    margin-left: 40%;
    
}
