<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../css/cartoes/cartoes.css">
  <script type="module" src="./../../controller/cartoes/cartoes.js"></script>
  <title>Cadastro de Cartões</title>
</head>
<body>

  <h1>Cartões Cadastrados</h1>
  <div id="card-container"></div>

  <button id="cadastrar-btn">Cadastrar Novo Cartão</button>

  <div id="cadastro-form">
    <h2>Cadastrar Cartão</h2>
    <input type="text" id="card-title" placeholder="Título do Cartão">
    <button id="submit-card">Cadastrar</button>
  </div>

</body>
</html>