<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Oliveira</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Poppins:wght@300;400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./../css/header.css"> 
      <link rel="stylesheet" href="./../css/index/index.css">
      <link rel="stylesheet" href="./../css/projetos/menus.css">
      <link rel="stylesheet" href="./../css/projetos/projetos.css">
</head>
<body id="corpo"></body>
    <div id="tela" class="tela">
        <div id="conteudo" class="conteudo">
            <div id="cabecalho" class="cabecalho">
                <div id="botao-redondo" class="botao-redondo">
                    <span id="icone-botao-redondo">🥵</span>
                </div>
                <div id="logo" class="logo">dev sistemas</div>
                <nav id="menu" class="menu">
                    <a id="botao1" href="botao1" class="item-menu">sou</a>
                    <a id="botao2" href="botao2" class="item-menu">muito</a>
                    <a id="botao3" href="botao3" class="item-menu">bom</a>
                </nav>
                <section>
                <nav id="icon_menu">
                    <div id="barra_um"></div>
                    <div id="barra_dois"></div>
                    <div id="barra_tres"></div>
                </nav>
            </section>
        </body>
 